$white: #ffffff !default;
$gray-1: #fafafa !default;
$gray-2: #f5f5f5 !default;
$gray-3: #f0f0f0 !default;
$gray-4: #d9d9d9 !default;
$gray-5: #bfbfbf !default;
$gray-6: #8c8c8c !default;
$gray-7:#595959 !default;
$gray-8: #434343 !default;
$gray-9:#262626 !default;
$gray-10:#1f1f1f !default;
$gray-11: #141414 !default;
$black: #000000 !default;

$blue: #69c0ff !default;
$cayn: #bae7ff !default;
$Purple: #9254de !default;
$pink: #ffa39e !default;
$orange: #fa8c16 !default;
$red: #f5222d !default;
$yellow: #ffec3d !default;
$green: #52c41a !default;

$primary: $blue !default;
$secondary: $gray-6 !default;
$success: $green !default;
$info: $cayn !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-1 !default;
$dark: $black !default; 

$font-family-sans-serif: --apple-system, BlinkMacSystemFOnt;
$font-faimly-monospace: SFMono-Regular, Menlo;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.75 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-border: borlder !default;
$font-weight-base: $font-weight-normal !default;

// 链接
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// body
$body-bg: $white !default;
$body-color: $gray-9 !default;
$body-text-align: null !default;

// 行高
$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;


// border
$border-width: 1px !default;
$border-color: $gray-3 !default;
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

//按钮
// 按钮基本属性
$btn-font-weight: 400;
$btn-padding-y: 0.375rem !default;
$btn-padding-x: 0.75rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;

// 不同大小按钮的padding 和 font size
$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.5rem !default;
$btn-font-size-sm: $font-size-sm !default;

$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-font-size-lg: $font-size-lg !default;

// 按钮边框
$btn-border-width: $border-width !default;

// 按钮其他
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-disabled-opacity:        .65 !default;

// 链接按钮
$btn-link-color:              $link-color !default;
$btn-link-hover-color:        $link-hover-color !default;
$btn-link-disabled-color:     $gray-6 !default;


// 按钮 radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;