$white: #ffffff !default;
$gray-1: #fafafa !default;
$gray-2: #f5f5f5 !default;
$gray-3: #f0f0f0 !default;
$gray-4: #d9d9d9 !default;
$gray-5: #bfbfbf !default;
$gray-6: #8c8c8c !default;
$gray-7:#595959 !default;
$gray-8: #434343 !default;
$gray-9:#262626 !default;
$gray-10:#1f1f1f !default;
$gray-11: #141414 !default;
$black: #000000 !default;

$blue: #69c0ff !default;
$cayn: #bae7ff !default;
$Purple: #9254de !default;
$pink: #ffa39e !default;
$orange: #fa8c16 !default;
$red: #f5222d !default;
$yellow: #ffec3d !default;
$green: #52c41a !default;

$primary: $blue !default;
$secondary: $gray-6 !default;
$success: $green !default;
$info: $cayn !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-1 !default;
$dark: $dark !default; 